<!DOCTYPE html>
<html>
<head>
		<title>PHP</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/main-header.css">
		<link rel="stylesheet" href="../css/madia.css">
		<link rel="stylesheet" href="../css/fonts.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,800,500,600' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
	<!--HEADER-->
	<div class="topnav_fixed_block">
		<section>
			<div class="container">
				<nav class="top-nav clearfix">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="site-name logo" href="/">CircleAcademy</a>
					</div>
					<menu class="clearfix">
						<li><a href="#">News</a></li>
						<li class="has-dropdown-menu">
							<a href="#">Courses</a>
							<ul class="dropdown-menu lvl2">
								<li><a href="pages/js-basic.php">js basic</a></li>
								<li><a href="#">back&#8209;end&nbsp;development</a></li>
							</ul>
						</li>
						<li><a href="./resource">Resource</a></li>
						<li><a href="#">Playlists</a></li>
						<li><a href="">Schedule</a></li>
						<li><a href="#">amet</a></li>
						<li><a href="pages/login.php">Login</a></li>
					</menu>
				</nav>
			</div>
		</section>
	</div>
	
	{[header]}
