/*@font-face {
    font-family: 'PTSans';
    src: url('fonts/pts75f-webfont-webfont.eot');
    src: url('fonts/pts75f-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pts75f-webfont-webfont.woff2') format('woff2'),
         url('fonts/pts75f-webfont-webfont.woff') format('woff'),
         url('fonts/pts75f-webfont-webfont.ttf') format('truetype'),
         url('fonts/pts75f-webfont-webfont.svg#pt_sansbold') format('svg');
    font-weight:400;
    font-style: normal;

}




@font-face {
    font-family: 'PTSans';
    src: url('fonts/pts76f-webfont-webfont.eot');
    src: url('fonts/pts76f-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pts76f-webfont-webfont.woff2') format('woff2'),
         url('fonts/pts76f-webfont-webfont.woff') format('woff'),
         url('fonts/pts76f-webfont-webfont.ttf') format('truetype'),
         url('fonts/pts76f-webfont-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight:400;
    font-style:italic;

}




@font-face {
    font-family: 'PTSans';
    src: url('fonts/pts56f-webfont-webfont.eot');
    src: url('fonts/pts56f-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pts56f-webfont-webfont.woff2') format('woff2'),
         url('fonts/pts56f-webfont-webfont.woff') format('woff'),
         url('fonts/pts56f-webfont-webfont.ttf') format('truetype'),
         url('fonts/pts56f-webfont-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style:italic;

}




@font-face {
    font-family: 'PTSans';
    src: url('fonts/pts55f-webfont-webfont.eot');
    src: url('fonts/pts55f-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pts55f-webfont-webfont.woff2') format('woff2'),
         url('fonts/pts55f-webfont-webfont.woff') format('woff'),
         url('fonts/pts55f-webfont-webfont.ttf') format('truetype'),
         url('fonts/pts55f-webfont-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

/******FONT-AWESOME*******/
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/font-awesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/font-awesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('fonts/font-awesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('fonts/font-awesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}