/*@import '//fonts.googleapis.com/css?family=Dosis:400,300,500,700';*/
/*@import '//fonts.googleapis.com/css?family=Raleway:300,400,500,600,800';*/
/*@import '//fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700';*/

html, body, p, menu, ul {margin: 0; padding: 0;}
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: cornflowerblue;
}
div {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  box-sizing: border-box;
}
ul, menu {
  list-style: none;
  margin: 0;
}
li {

}
form {
  margin: 0;
}
button, input, select, textarea {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
table {
  border-collapse:collapse;
}
.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.justify-fix:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.row {
  margin: 0 -15px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
header{
  min-height: 500px;
  background: url('../img/joust-s3.png') no-repeat;
  background-size: cover;
  margin: 62px 0 0 0;/*!!!!!!!!!!!!!!!!!!!!!*/
}
.headerjs{
  background: url('../img/header.jpg') no-repeat;
  background-color: rgba(243, 222, 71, 1);
  background-size: contain;
}
/*********************************************/
.topnav_fixed_block {
  position: fixed;
  width: 100%;
  z-index: 900;
  top: 0;
}
.topnav_fixed_block section {
  background: #121212;
  transition: all 250ms ease-in-out;
}
.topnav_fixed_block nav {
  border: 1px solid transparent;
}
.topnav_fixed_block nav menu {
  display: none;
  float: none;
  max-width: 780px;
}
.topnav_fixed_block nav menu li {
  position: relative;
  float: left;
}
.topnav_fixed_block li a {
  display: block;
  padding: 0 20px;
  font: 500 11px/60px 'Raleway', 'Open Sans', Arial, Helvetica, Sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  transition: all 250ms ease-in-out;
}
.topnav_fixed_block .dropdown-menu{
  position: absolute;
  padding: 10px 0 0;
  background: #121212;
}
/* top navigation menu lvl2 */
.topnav_fixed_block .dropdown-menu.lvl2{
  left: auto;
  right: 0;
}
.topnav_fixed_block .dropdown-menu.lvl2 li{
  width: 100%;
}
.topnav_fixed_block .dropdown-menu.lvl2 li a{
  padding: 13px 18px;
  font: 11px/1.4em 'Open Sans', Arial, Helvetica, sans-serif;
}
.topnav_fixed_block nav menu li.close>.dropdown-menu.lvl2{
  display: none;
}
/* top navigation menu lvl3 */

/* top navigation menu hover effect */
.topnav_fixed_block nav menu li a:hover {
  color: #fff;
}
.site-name.logo{
  display: block;
  height: 60px;
  min-width: 180px;
  color: transparent;
  text-indent: -9999px;
  background: url('../img/logotype.png') no-repeat left center;
}
.topnav_fixed_block nav .navbar-header .navbar-toggle {
  position: relative;
  float: right;
  margin: 13px 0;
  padding: 9px 10px;
  width: 22px;
  box-sizing: initial;
  overflow: hidden;
  text-indent: -9000px;
  font-size: 0;
  line-height: 1em;
  color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
}
.topnav_fixed_block nav .navbar-header  .icon-bar{
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}
.topnav_fixed_block nav .navbar-header  .icon-bar + .icon-bar{
  margin-top: 4px;
}

h2.tasks_title,
h2.home-work_title {
  padding: 15px 0 0;
  font-size: 28px;
}
h2.tasks_title:before {
  content: '\2714';
  display: inline-block;
  width: 35px;
  color: #80bd57;
  right: auto;
  left: 0;
}
h2.home-work_title:before {
  content: '!';
  display: inline-block;
  margin: 0 10px 0 0;
  right: auto;
  left: 0;
  text-align: center;
  color: white;
  width: 38px;
  border-radius: 50%;
  background: #80bd57;
}
h2.tasks_title:after,
h2.home-work_title:after {
  content: "";
  display: block;
  width: 100%;
  border-top: 3px solid #eee;
  margin: 20px 0 40px;
}
p.exercise {
  margin: 40px 0 12px;
  color: #333;
}
.course-list li>ul{
  margin: 0 0 0 20px;
}
/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.timeout1{
  padding:80px 0; background:#28292A;
}
.timeout2{
  padding:24px 0; background:#0E0E0E;
}
.timeout3{
  margin: 35px 0 0 0;
}
